/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/app/i/time-blocking/TimeBlocking.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TimeBlocking_list__SPZ2q .TimeBlocking_block__c29ay {
    position: relative;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 1.07rem
}
.TimeBlocking_list__SPZ2q .TimeBlocking_block__c29ay:active .TimeBlocking_grip__JtDN0, .TimeBlocking_list__SPZ2q .TimeBlocking_block__c29ay:hover .TimeBlocking_grip__JtDN0 {
    opacity: 1
}

.TimeBlocking_grip__JtDN0 {
    margin-left: -0.25rem;
    margin-right: 0.12rem;
    opacity: 0.25;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 266ms
}
.TimeBlocking_grip__JtDN0:hover .TimeBlocking_grip__JtDN0, .TimeBlocking_grip__JtDN0:active .TimeBlocking_grip__JtDN0 {
    opacity: 1
}
